.card {
  background: var(--color-white);
  text-align: center;
  padding: 2rem;
  border-radius: 3rem;
  transition: var(--transition);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.card:hover {
  background: var(--hover-background-color);
  border-color: var(--color-white);
  cursor: default;
}

.card span {
  width: 3rem;
  height: 3rem;
  background: var(--color-primary);
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.card:hover span {
  background: var(--color-secondary);
  color: var(--color-white);
}

.card small {
  display: block;
  font-weight: 300;
}

.card h4 {
  margin: 2rem 1rem 0;
  height: 14.2%;
}
