.testimonials {
  width: 50rem;
  margin-inline: auto;
}

.testimonials__head {
  justify-content: center;
}

.card.testimonial {
  position: relative;
  text-align: left;
  margin-top: 5rem;
  border-radius: 0 3rem;
}

.testimonial__avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  border: 2px solid transparent;
  overflow: hidden;
  position: absolute;
  top: -2rem;
  left: calc(50% - 2rem);
  box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
}

.testimonial:hover .testimonial__avatar {
  border-radius: 50%;
  border-color: var(--color-white);
}

.testimonial__quote {
  font-style: italic;
  margin: 1rem 0 2rem;
}

.testimonial__quote {
  margin-top: 0.3rem;
}

.testimonials__btn-container {
  width: fit-content;
  margin: 2.5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.testimonials__btn {
  background: transparent;
  cursor: pointer;
}

.testimonials__btn svg {
  fill: rgb(177, 177, 177);
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
}

.testimonials__btn:hover svg {
  fill: var(--color-secondary);
  transition: var(--transition);
}
